{% extends "admin/base.html" %}

{% block content %}

<h1>Choose a theme from the drop down menu, then click on "set" to make this your theme.</h1>
{% if error_message %}
{{ error_message }}
{% endif %}
<h1> Current theme: </h1> <form action="{% url core.views.admin.choose_theme %}" method="post" name="choose" >
	<select id="menu" name="menu" onChange="preview.src='/static/images/'+menu.options[menu.selectedIndex].value+'.jpg'">
    {% for opt in themes %}
        {% ifequal opt selected %}
            <option value="{{opt}}" selected>{{opt}}</option>
        {% else %}
            <option value="{{opt}}">{{opt}}</option>
        {% endifequal %}

    {% endfor %}
	</select>
	<input type="submit" value="Set">
	
</form>
		
		<h1>Preview:</h1>
		<img id="previewimg" src="/static/images/default.jpg" name="preview"/>
	
	<script type="text/javascript">
	document.onload=changePic();
		function changePic()
	{
		//document.getElementById("previewimg").src='/static/images/'+menu.options[menu.selectedIndex].value+'.jpg';
		var img=document.getElementById("previewimg");
		var menu = document.getElementById('menu');
		var imgs='/static/images/'+menu.options[menu.selectedIndex].value+'.jpg';
		img.src=imgs;
		//alert(imgs);
	}
	
	
</script>
{% endblock %}
