<html>
    <head>
    <title>
    {% block title %}
      {% if title %} {{ title }} {% else %} {{ configuration.SYSTEM_TITLE }} {% endif %}
    {% endblock %}
    </title>

    {% block style %}
    <style type="text/css">
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.2.0/dojo/resources/dojo.css";
      @import "http://ajax.googleapis.com/ajax/libs/dojo/1.2.0/dijit/themes/tundra/tundra.css";
      @import "/static/css/default.css";
    </style>
    
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dojo/dojo.xd.js"
            djConfig="parseOnLoad:true,isDebug:false"></script>
            
    <script type="text/javascript">
        dojo.require("dijit.form.Slider");
        dojo.require("dijit.form.TextBox"); // this we only include to make the textinput look prettier
        dojo.addOnLoad(function() {

            var slider = new dijit.form.HorizontalSlider({
                name: "slider",
                value: {{ version }},
                minimum: {{ minversion }},
                maximum: {{ maxversion }},
                intermediateChanges: true,
                discreteValues: {{ discretevals }},
                style: "width:500px;",
                onChange: function(value) {
                    dojo.byId("sliderValue").value = value;
                },
                onMouseUp: function(value) {
                    window.location = "v=" + dojo.byId("sliderValue").value;
                }
            },
            "slider");
        });
    </script>
    
    <script type="text/javascript">
        {% block jscript %}{% endblock %}
            dojo.addOnLoad( function() {
                var links = dojo.query("a");
                var i;
                for(i = 0; i < links.length; i++)
                {
                    var link = links[i];
                    if(link.pathname == "/" || link.pathname == "")
                    {
                        link.href = link.href.replace(/\/$/,"/frames/root/");
                    }
                    if(link.href.match("_ah/login?"))
                    {
                        //link.target="_parent";
                        //link.search="?continue=/&to_page="+link.baseURI;
                        link.href = link.href.replace(link.baseURI,"/");
                    }
                }
                {% block onload %}
                {% endblock %}
            });
        </script>
    {% endblock %}

        
        
    {% block includes %}
    {% endblock %}
    </head>
    <body class="tundra">
    <div id="header">
      <div id="headerLogo">
        <img src="/static/images/logo.png" alt="AppEngine Site Creator" />
      </div>
      <div id="userHeader">
        {% block user_header %}
        {% if user %}
          <b>{{ user.email }}</b>
          {% if is_superuser %} | <a href="{% url core.views.admin.index %}">Edit site</a>{% endif %}
          {% if is_admin %} | <a href="{% url core.views.admin.display_memcache_info %}">Memcache</a>{% endif %}
          {% if sign_out %} | <a target="_parent" href="/_ah/login?continue=/&action=Logout">Sign out</a>{% endif %}
        {% else %}
          {% if sign_in %}<a target="_parent" href="/_ah/login?continue=/">Sign in</a>{%endif%}
        {% endif %}
        {% endblock %}
      </div>
    </div>
{% block breadcrumbs %}
	{% if page.breadcrumbs %}
		{% for breadcrumb in page.breadcrumbs %}
			<a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
			{% if not forloop.last %}
			  &raquo;
			{% endif %}
	    {% endfor %}
	{% endif %}
{% endblock %}
{% block heading %}
  	{% block pagetitle %}
		{{ page.title|escape }}
	{% endblock %}	
{% endblock %}

{% block content %}
    {{ page.content|safe }}
	
	{% if files %}
	  <div id="attachments">
		<h1>Attached files:</h1>
		<ul style="list-style-type:none">
		{% for file in files %}
		  <li style="list-style-image:url({{file.icon}})">
		  {% if file.url %}
			<a href="{{ file.url }}">
		  {% else %}
			<a href="{% url core.views.main.get_url file.filepath %}">
		  {% endif %}
			  {{ file.name }}</a>
		{% endfor %}
		</ul>
	  </div>
  {% endif %}
{% endblock %}

{% block children %}
    {% if page.page_children %}
        {% for page in page.page_children %}
			{% ifequal page.name 'New Page' %}
			{% else %}
                <a href="/{{ page.path }}">{{ page.name }}</a>
	            {% if not forloop.last %}
                    ||
                {% endif %}
			{% endifequal %}
        {% endfor %}
    {% endif %}
{% endblock %}

        <div id="attachments">
        <h1>Page Versions:</h1>
        <div style="margin-left:50px;">
        <div id="slider">
        
        <div dojoType="dijit.form.HorizontalRule" container="bottomDecoration"
        count={{ discretevals }} style="height:5px;">
        </div>
        <ol dojoType="dijit.form.HorizontalRuleLabels" container="bottomDecoration"
        style="height:1em;font-size:75%;color:black;">
            {% block versioninfo %}
                    {% if pageversions %}
                    {% for pageversion in pageversions %}
                          
                          {% if pageversion.version %}
                            {% ifequal pageversion.version version %}
                            <b> 
                            {% endifequal %}
                              <li>{{ pageversion.modified|date:"n/j/y"  }}<br>{{ pageversion.modified|date:"g:i A"  }}</li>
                            {% ifequal pageversion.version version %}
                            </b> 
                            {% endifequal %}
                          {% endif %}
                    {% endfor %}
                    {% endif %}
            {% endblock %}

        </ol>
        
        </div>
        </div>
        <p>
            <input type="hidden" id="sliderValue" dojoType="dijit.form.TextBox" />
        </p>
        <br>
        </div>
        
</body></html>
