<html>
    <head>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dojo/dojo.xd.js"
        djConfig="parseOnLoad:false,isDebug:false"></script>
    <script type="text/javascript">
        dojo.addOnLoad( function() {
                    var links = dojo.query("a");
                    var i;
                    for( i = 0; i < links.length; i++)
                    {
                        links[i].target = "showframe";
                    }

                
            });</script>
    </head>
    <body>
        {% if is_admin %}
            <h1></h1>

            <ul>
              <li><a href="/frames/root/">Main site</a></li>
              <li><a href="/frames/admin/gethelp/">Help</a></li>
            </ul>

            <h1>Pages</h1>
            <ul>
              <li><a href="{% url core.views.admin.index %}">Sitemap</a></li>
              <li><a href="{% url core.views.admin.recently_modified %}">Recently modified</a></li>
              <li><a href="{% url core.views.admin.new_page None %}">Create page</a></li>
              <li><a href="{% url core.views.admin.edit_sidebar %}">Edit sidebar</a></li>
              <li><a href="{% url core.views.admin.choose_theme %}">Choose Theme</a></li>	
            </ul>

            <h1>Users</h1>
            <ul>
              <li><a href="{% url core.views.admin.filter_users %}">List users</a></li>
              <li><a href="{% url core.views.admin.list_groups %}">List groups</a></li>
              <li><a href="{% url core.views.admin.edit_user None %}">Find user</a></li>
              <li><a href="{% url core.views.admin.bulk_edit_users %}">Bulk edit users</a></li>
            {% else %}
              {% if sidebar %}
               {{ sidebar|safe }}
              {% else %}
                 Sidebar not defined.
              {% endif %}
          {% endif %}
    </body>
</html>
