{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
<h1></h1>

<ul>
  <li><a href="/">{% trans "Main site" %}</a></li>
  <li><a href="{% url admin-get-help %}">{% trans "Help" %}</a></li>
</ul>

<h1>{% trans "Pages" %}</h1>
<ul>
  <li><a href="{% url admin-index %}">{% trans "Sitemap" %}</a></li>
  <li><a href="{% url admin-recently-modified %}">{% trans "Recently modified" %}</a></li>
  <li><a href="{% url admin-new-page None %}">{% trans "Create page" %}</a></li>
  <li><a href="{% url admin-edit-sidebar %}">{% trans "Edit sidebar" %}</a></li>
</ul>

<h1>{% trans "Users" %}</h1>
<ul>
  <li><a href="{% url admin-filter-users %}">{% trans "List users" %}</a></li>
  <li><a href="{% url admin-list-groups %}">{% trans "List groups" %}</a></li>
  <li><a href="{% url admin-edit-user None %}">{% trans "Find user" %}</a></li>
  <li><a href="{% url admin-bulk-edit-users %}">{% trans "Bulk edit users" %}</a></li>
</ul>

{% endblock %}


{% block tracking %}{% endblock %}
