{% extends "base.html" %}

{% block title %}
  {{ page.title|escape }}
{% endblock %}

{% block heading %}
  <div id="pageTitle">{{ page.title|escape }}</div>
  {% if is_editor %}
    <div id="editPageLink">
      <a href="{% url core.views.admin.edit_page page.key.id %}">Edit page</a> |
      <a href="{% url core.views.admin.new_page page.key.id %}">Add child</a>
    </div>
  {% endif %}
{% endblock %}

{% block includes %}
    <script type="text/javascript">
        dojo.require("dijit.form.Slider");
        dojo.require("dijit.form.TextBox"); // this we only include to make the textinput look prettier
        dojo.addOnLoad(function() {

            var slider = new dijit.form.HorizontalSlider({
                name: "slider",
                value: {{ version }},
                minimum: {{ minversion }},
                maximum: {{ maxversion }},
                intermediateChanges: true,
                discreteValues: {{ discretevals }},
                style: "width:500px;",
                onChange: function(value) {
                    dojo.byId("sliderValue").value = value;
                },
                onMouseUp: function(value) {
                    window.location = "v=" + dojo.byId("sliderValue").value;
                }
            },
            "slider");
        });
    </script>
{% endblock %}

{% block content %}
  {% if page.breadcrumbs %}
    <div class="breadcrumbs">
    {% for breadcrumb in page.breadcrumbs %}
      <a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
      {% if not forloop.last %}
        &gt;
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  {% if page.content %}
    {{ page.content|safe }}
  {% else %}
    This page does not yet have any content.
  {% endif %}
  {% if page.page_children %}
    <div class="children">
    {% for page in page.page_children %}
	  {% ifequal page.name 'New Page' %}
	  {% else %}
	    {% ifequal page.version 2 %}
          <a href="/{{ page.path }}">{{ page.name }}</a>
	      {% if not forloop.last %}
            ||
          {% endif %}
		{% endifequal %}  
	  {% endifequal %}
    {% endfor %}
    </div>
  {% endif %}
  {% if files %}
  <div id="attachments">
    <h1>Attached files:</h1>
    <ul style="list-style-type:none">
    {% for file in files %}
      <li style="list-style-image:url({{file.icon}})">
      {% if file.url %}
        <a href="{{ file.url }}">
      {% else %}
        <a href="{% url core.views.main.get_url file.filepath %}">
      {% endif %}
          {{ file.name }}</a>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  



        <div id="attachments">
        <h1>Page Versions:</h1>
        <div style="margin-left:50px;">
        <div id="slider">
        
        <div dojoType="dijit.form.HorizontalRule" container="bottomDecoration"
        count={{ discretevals }} style="height:5px;">
        </div>
        <ol dojoType="dijit.form.HorizontalRuleLabels" container="bottomDecoration"
        style="height:1em;font-size:75%;color:black;">
            {% if pageversions %}
            {% for pageversion in pageversions %}
                  
                  {% if pageversion.version %}
                    {% ifequal pageversion.version version %}
                    <b> 
                    {% endifequal %}
                      <li>{{ pageversion.modified|date:"n/j/y"  }}<br>{{ pageversion.modified|date:"g:i A"  }}</li>
                    {% ifequal pageversion.version version %}
                    </b> 
                    {% endifequal %}
                  {% endif %}
            {% endfor %}
            {% endif %}

        </ol>
        
        </div>
        </div>
        <p>
            <input type="hidden" id="sliderValue" dojoType="dijit.form.TextBox" />
        </p>
        <br>
        </div>
        
{% endblock %}